input[type=text], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    background-color: #151a17;
    color: white;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label, p {
    color: white;
}

input[type=submit] {
    font-family: fantasy Helvetica Arial;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    font-family: fantasy Helvetica Arial;
    background-color: #45a049;
}

div {
    opacity: 0.95;
    margin: auto;
    width: 35%;
    border-radius: 5px;
    background-color: #3d3939;
    padding: 20px;
    margin-top: 80px;
}

body {
    background-image: url("background1.png");
    background-repeat: repeat-y;
    background-size: cover;
    font-family: fantasy Helvetica Arial;
    background-color: #080c0a;
}

a {
    color: #45a049;
    text-decoration: none;
}

select {
    font-size: larger;
}