p.recipe {
    opacity: 0.9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2F5D62;
    font-size: x-large;
    width: 100%;
    display: inline-block;
    padding: 10px;
    background-color: #A7C4BC;
    opacity: 0.95;
    border-radius: 6px;
}

p.recipe:hover{
    background-color: #DFEEEA;
}

p.selectableRecipe {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2F5D62;
    font-size: x-large;
    width: 100%;
    display: inline-block;
    padding: 10px;
    background-color: #A7C4BC;
    opacity: 0.95;
    border-radius: 6px;
}

p.notSelected {
    opacity: 0.6;
    background-color: #DFEEEA;
    border: 3px dotted red;
}

p.selected {
    opacity: 1;
    background-color: #5E8B7E;
    color: #A7C4BC;
    border: 3px solid green;
}

img.recImage {
    float: left;
    width: 30%;
    padding: 10px;
}

#firstPart, #secondPart {
    width: 30%;
    float: right;
    text-align: center;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #2F5D62;
    color: #A7C4BC;
    border-radius: 6px;
    position: sticky;
    font-family: fantasy Helvetica Arial;
}

.formPart {
    width: 100%;
}